body {
    background-color: #ffffff;
    color: #333333;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container centralizado*/
.container {
    background-color: #efefee;
    padding: 40px;
    text-align: center;
    max-width: 450px;
    border: 1px solid #a5a5a5; 
    box-shadow: none; 
}

/* Titulo em Azul */
h2 {
    color: #000000;
    margin-top: 0;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Texto descritivo */
p {
    color: #666666;
    font-size: 15px;
    line-height: 1.6;
}

/* Linha divisória*/
hr {
    border: 0;
    border-top: 1px solid #0056b3;
    margin: 25px 0;
}

/* Botão de logout */
.btn-logout {
    display: inline-block;
    background-color: #580000;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #0056b3;
    transition: background-color 0.1s ease;
}


.btn-logout:hover {
    background-color: #ffffff;
    color: #0056b3;
}