body {
    background-color: #ffffff;
    color: #333333;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Caixa de login atualizada com a borda azul e quinas retas */
.login-box {
    background-color: #efefee;
    padding: 40px;
    border-radius: 0px;
    width: 100%;
    max-width: 360px;
    border: 1px solid #a5a5a5;
    text-align: center;
}

/* Título do formulário */
h2 {
    color: #1d1d1d;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Subtítulo */
.subtitle {
    color: #666666;
    font-size: 14px;
    margin-bottom: 25px;
}

/* Organização dos blocos de input */
.form-group {
    margin-bottom: 20px;
    text-align: left; 
}

/* Estilo dos rótulos dos campos */
label {
    display: block;
    color: #333333;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

/* Estilo dos campos de texto e senha */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 0px;
    font-size: 14px;
    background-color: #ffffff;
}

/* Efeito de foco nos campos de texto e senha */
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border: 1px solid #0056b3;
}

/* Estilo do botão de login */
button {
    width: 100%;
    background-color: #0056b3;
    color: #ffffff;
    border: 1px solid #0056b3;
    padding: 12px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0px; 
    transition: background-color 0.1s ease;
}

/* Efeito ao passar o mouse*/
button:hover {
    background-color: #ffffff;
    color: #0056b3;
}

/* Para mensagens de erro */
.alert-danger {
    background-color: #fde8e8;
    color: #e04444;
    border: 1px solid #e04444;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: left;
}